* {

    box-sizing: border-box;
   
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
}

body {

    font-family: "Roboto-Regular";
}

.header {

    background-image: url(../images/banner3.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    height: 1300px;

}

.header > h2 {

    position: relative;

    top: 15px;

    left: 20px;

    color: beige;


}
.header span {

    color: orange;

    border-top: 3px solid beige;

    border-bottom: 3px solid beige;

    border-left: 3px solid beige;
}

.header ul {

    width: auto;

    list-style-type: none;

    font-size: 1em;

    float: left;

    position: relative;

    left: 1380px;

    top: -50px;

}

.header li {

    height: 50px;

    width: 115px;

    padding: 10px 5px;

    color: beige;

    display: block;

    float: left;
   
}

a {

    text-decoration: none;

    color: beige;
}

.header h1 {

    font-size: 4.2em;

    text-align: center;

    color: beige;

    font-weight: thin;

    margin: 565px auto;

}



.header .button {

    background-color: dodgerblue;

    height: 40px;

    width: 150px;

    border-radius: 20px;

    text-align: center;

    color: beige;

    position: relative;

    border: none;

    top: -550px;

    left: 870px;
    
    font-size: 1.1em;

    
}

.heading {

    text-align: center;

    font-size: 1.6em;

    position: relative;

}

.heading, .border {

    top: 60px;
}

.border {

    width: 100%;
    
    position: relative;

    top: -20px;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;

}

.line {
    
    height: 2px;
    
    width: 200px;
    
    border-top: 1px solid black;

}

.square {
    
    height: 25px;
    
    width: 25px;
    
    border: 2px solid black;
    
    transform: rotate(50deg);
    
    margin: 0 10px;

}

.main-container {

    margin-top: 30px;

    font-size: 1.1em;

    line-height: 2;

    display: flex;

    justify-content: center;

    position: relative;

    top: 40px;

}

.main-container h2 {

    color: rgb(74, 131, 216);

    text-align: center;

    position: relative;

    top: -25px;

    
}

.main-container p {

    padding-left: 20px;

    position: relative;

    top: -30px;
}

.build-estate, .dream-home {

    width: 25%;

    position: relative;
}

.house-image {

    background-image: url(../images/about.jpg);

    background-repeat: no-repeat;
    
    width: 31%;

    height: 620px;

}

.build-estate, .dream-home {

    list-style-image: url(../images/arrow_bullet.png);

    padding-left: 50px;

    padding-right: 50px;

}

.build-estate li, .dream-home li{

    color: rgb(108, 108, 114);

}

.section {

    position: relative;

    display: flex;

    justify-content: space-evenly;

    top: 90px;

}

.heading2 {

    text-align: center;

    font-size: 1.6em;

    position: relative;

    top: 110px;
}

.border2 {

    width: 100%;
    
    position: relative;

    top: -20px;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
}

.line2 {
    
    height: 2px;
    
    width: 200px;
    
    border-top: 1px solid black;

}

.square2 {
    
    height: 25px;
    
    width: 25px;
    
    border: 2px solid black;
    
    transform: rotate(50deg);
    
    margin: 0 10px;

}



.section .heading2 {

    margin-top: 60px;

    font-size: 1.1em;

    line-height: 2;

    display: flex;

    justify-content: center;

    position: relative;

    top: 70px;

}

.williamson, .jennifer-lopez, .selena-gomez {

    width: 30%;

    background-color: rgb(139, 178, 250);

    color: beige;

    padding-left: 50px;

    padding-right: 60px;

    padding-bottom: 30px;

    margin-top: 30px;

    line-height: 1.5;
    
}

.section img {

    width: 30%;

    border-radius: 50%;

    border: 3px solid rgb(245, 240, 240);

    padding: 3px;

}

.williamson h2 {

    float: right;

    position: relative;

    top: 50px;

    right: 130px;

    color: black;
}

.jennifer-lopez h2 {

    float: right;

    position: relative;

    top: 50px;

    right: 90px;

    color: black;
}

.selena-gomez h2 {

    float: right;

    position: relative;

    top: 50px;

    right: 100px;

    color: black;
}


.williamson .rating {

    float: right;

    position: relative;

    top: 110px;

    right: 15px;
}

.jennifer-lopez .rating {

    float: right;

    position: relative;

    top: 110px;

    left: 40px;

}

.selena-gomez .rating {

    float: right;

    position: relative;

    top: 110px;

    left: 35px;
}

.heading3 {

    text-align: center;

    font-size: 1.6em;

    position: relative;

    top: 150px;
}

.border3 {

    width: 100%;
    
    position: relative;

    top: -20px;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
}

.line3 {
    
    height: 2px;
    
    width: 200px;
    
    border-top: 1px solid black;

}

.square3 {
    
    height: 25px;
    
    width: 25px;
    
    border: 2px solid black;
    
    transform: rotate(50deg);
    
    margin: 0 10px;

}

.contact-general {

    width: 100%;

    background-color: aquamarine;

    position: relative;
    
    top: 160px;

}

.contact-general h3 {

    text-align: center;
}

.contact {

    top: 100px;

    display: flex;

    justify-content: flex-start;

}

.contact-us, .connect-with-us, .address, .house {

    padding-top: 45px;

    width: 25%;

    height: 250px;

    color: beige;
}

.contact-us {

    background-color: mediumspringgreen;
}

.connect-with-us {

    background-color: hotpink;
}

.address {

    background-color: royalblue;

    padding-left: 60px;

    padding-right: 60px;

}

.house {

    background-image: url(../images/house.png);

    background-repeat: no-repeat;

    background-position: center;

    background-color: lightskyblue;

}

.mobile-and-mail i {

    font-size: 1.5em;

    display: block;

    position: relative;

    left: 120px;
    
    top: 10px;
}

.fb-twitter-linkedin {

    position: relative;

    top: 20px;

    display: flex;

    justify-content: center;
}

.location {

    position: relative;
    
    top: 15px;

    display: flex;

    justify-content: center;

    font-size: 1.2em;

    text-align: center;

}

.heading4 {

    text-align: center;

    font-size: 1.6em;

    position: relative;

    top: 200px;
}

.border4 {

    width: 100%;
    
    position: relative;

    top: -20px;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
}

.line4 {
    
    height: 2px;
    
    width: 200px;
    
    border-top: 1px solid black;

}

.square4 {
    
    height: 25px;
    
    width: 25px;
    
    border: 2px solid black;
    
    transform: rotate(50deg);
    
    margin: 0 10px;

}

.submit-form {

    padding-top: 20px;

    display: flex;

    justify-content: center;

    width: 100%;

    height: 500px;

    position: relative;

    top: 220px;

    border: 2px solid black;
}

.inputs {

    width: 25%;

    height: 50px;
}

.container2 {

    width: 100%;

    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;

    justify-content: start;

    align-items: center;


}

.item-one {

    background-color: springgreen;
}

.item-two {

    background-color: hotpink;
}

.item-three {

    background-color: royalblue;
}

.item-four {

    background-color: coral;
}





