body {

    background-color: rgb(78, 235, 235);
}



#table-cell-one{

    background-color: aliceblue;
}

#table-cell-two {

    background-color: hotpink;
}

#table-cell-three {

    background-color: coral;
}

#table-cell-four {

    background-color: cornflowerblue;
}

#table-cell-five {

    background-color: rgb(37, 224, 137);
}

#table-cell-six {

    background-color: rgb(201, 68, 241);

}

#table-cell-seven {

    background-color: rgb(20, 117, 117);

}

#table-cell-eight {

    background-color: yellowgreen;

}

#table-cell-nine {

    background-color: violet;

}

#table-cell-ten {

    background-color: rgb(155, 37, 96);

}

#table-cell-eleven {

    background-color: rgb(241, 155, 97);

}

#table-cell-twelve {

    background-color: rgba(51, 51, 105, 0.5);

}

#table-cell-thirteen {

    background-color: #005578;

}

#table-cell-fourteen {

    background-color: crimson;

}

#table-cell-fifteen {

    background-color: greenyellow;

}