<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <title>Recreating the Layout</title>
</head>
<body>
    <div class = "navigation-bar">
        <ul>
            <li id="first-list-item"><a href="#home">Home</a></li>
            <li id="second-list-item"><a href="#about">About</a></li>
            <li id="third-list-item"><a href="#contact">Contact</a></li>
            <li id="fourth-list-item"><a href="#blog">Blog</a></li>
        </ul>
    </div>
    
    <div class="images">
        <img src="./kindpng_237430.png" alt="HTML5 Logo" class="html-image">
        <img src="./kindpng_237406.png" alt="CSS3 Logo" class="css-image">
    </div>

    <div class="divs-links-paragraphs">
        <div class="first-div"></div>
        <div class="second-div"></div>
        <div class="third-div">
            <a href="">Rebuilding slack.com</a>
            <hr>
            
            <a href="">Zasto Bootcamp format?</a>
            <hr>
            
            <a href="">React - prozor u svet web aplikacija</a>
            <hr>
            
            <a href="">Najvece zablude o programerima u Srbiji</a>
            <hr>
        </div>

       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae harum veritatis similique ipsum corrupti. Excepturi, qui exercitationem optio incidunt hic consequuntur at cumque ducimus sint earum iste accusantium, aliquid sequi!</p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae officia vel consequatur officiis magni blanditiis sint facere obcaecati fugiat enim, porro dolorem inventore! Eaque est dolore odit voluptates assumenda doloribus?
            Itaque pariatur doloremque eaque id facilis molestiae delectus aperiam aut saepe qui? Ullam molestias autem repellendus quas pariatur deleniti obcaecati accusamus? Ea labore voluptatibus esse error eligendi, quae non consectetur?
        </p>

        <div class="fourth-div"></div>
        <div class="fifth-div"></div>
        <div  class="sixth-div"></div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, quia aliquam asperiores reprehenderit nostrum excepturi voluptates! Laboriosam inventore reiciendis natus suscipit, provident aspernatur dolore sit nobis. Cum neque perferendis placeat.
            Voluptatum natus maiores dolore itaque qui repudiandae, repellat iure velit alias reprehenderit soluta fuga?
        </p>
        
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur vel, perspiciatis doloribus qui non, fugit nam itaque, minima minus libero eveniet voluptate? Vel, fuga ut. Veniam, id. Architecto, beatae ea.
            Delectus laborum illum reprehenderit dignissimos aut temporibus minus illo sint beatae pariatur optio nihil totam, aspernatur, amet officiis! Id exercitationem quam reiciendis neque fugiat sequi libero porro iure voluptate aliquid?
        </p>
        
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae accusantium reprehenderit voluptates sed maiores! Beatae molestiae eos officia corporis impedit commodi explicabo ea laboriosam nesciunt vero nostrum, aspernatur soluta temporibus?
            A culpa illo sapiente itaque error eius omnis, quo praesentium quisquam dolor quibusdam debitis aliquid animi sit, odio quaerat, accusantium corrupti obcaecati eum.
        </p>

        <div class="seventh-div"></div>
        <div class="eight-div"></div>
        <div class="ninth-div"></div>

        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi nostrum nobis modi molestiae maxime esse recusandae voluptate? Assumenda nostrum aliquam, eum quam harum possimus! Harum modi maxime mollitia fugiat voluptates.
            Ullam doloremque iusto harum blanditiis nihil, magnam corporis fugit quidem, numquam nobis nemo? Tempore impedit ea blanditiis consequatur odio, vitae culpa, facilis error neque dicta repellat unde modi debitis ullam!
        </p>
        
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora necessitatibus eligendi repellendus animi nemo neque impedit voluptatum sunt? Reiciendis deserunt accusantium laborum tempora possimus quam voluptatibus animi porro voluptate ipsum!
            Eaque deserunt, impedit ipsa esse, repellendus, tempora veniam veritatis aliquid accusantium quisquam similique in quaerat minima inventore culpa voluptate.
        </p>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius, molestias enim saepe vitae, esse id error rerum itaque porro nemo facilis atque tempore. Similique animi eius iusto, commodi voluptatibus veritatis!
            Dicta, velit? Maxime laboriosam quis minus fugiat, repudiandae ab. Repellendus quos eius iste eaque quas adipisci nulla reiciendis impedit distinctio asperiores consectetur, incidunt, temporibus corporis consequatur ratione maiores cumque dolor!
        </p>
    </div>

    <div class="footer">
        <footer>
            &copy; BIT Student
        </footer>
    </div>
</body>
</html>