div {

    width: 70vw;

    height: 100vh;

}

.first-image {

    width: 400px;

    position: relative;

    top: 50px;

    left: 100px;

    margin-bottom: 40px;
}

.second-image {

    width: 400px;

    position: absolute;

    right: 10px;

    top: 15px;

    margin-top: 30px;
}

.third-image {

    width: 400px;

    position: absolute;

    bottom: 0px;

    left: 400px;
}

/*p {

    width: 1000px;

    text-align: center;
}*/

a {

    position: fixed;

    bottom: 0px;

    right: 60px;
}