#first-paragraph {

    background-color: bisque;

    color:brown
}

#second-paragraph {

    background-color: darkslategray;

    color: mintcream;
}

#third-paragraph {

    background-color: black;

    color: cornflowerblue;
}

#fourth-paragraph {

    background-color: rgb(108, 211, 245);

    color: rgb(250, 35, 270);
}

#fifth-paragraph {

    background-color: #bb4367;

    color: #ff7791;
}