

.container {
    
    height: 100vh;
    width: 100%;
    background-image: url(./Assets/field.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.soccer-player {
    height: 100px;
}

.button {

    position: fixed;
    bottom: 20px;
    right: 50px;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: rgb(179, 10, 38);
    color: rgb(217, 189, 187);
    font-size: 1.2em;
    font-weight: 700;
    border: none;
}